:root {
  --active-states: #404bbf;
  --main-text-color: #434455;
  --headings-text-color: #2e2f42;
  --helper-text-color: #8e8f99;
  --button-bg-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --overlays-color: #2e2f42;
  --overlays-scdr-color: #f4f4fd;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --section-padding-top-: 120px;
  --section-padding-bootom-: 120px;
  --card-margin-horizontal: 24px;
  --card-margin-vertical: 48px;
  --transition-dur-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**================= RESET =======================*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: var(--primary-font);
  color: var(--main-text-color);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/** BUTTONS =======================*/
.button {
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
}

/** SUBTITLE ==================== */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-text-color);
}

/** DESCRIPTION ==================== */
.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/** CONTEINER ==================== */
.conteiner {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/**================= HEADER =======================*/
/* todo ============ MOBILE =======================*/
.header-mane {
  padding: 24px 0px 22px 0px;
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  color: var(--active-states);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: var(--overlays-color);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu {
  display: none;
}

.connection {
  display: none;
}

.mobile-menu-btn {
  display: block;
  background-color: transparent;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.mobile-menu-icon {
  background-repeat: no-repeat;
  background-position: center;
  stroke: #2e2f42;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 80px 35px 40px 40px;
  z-index: 500;
  background-color: teal;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mobile-close-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 24px;
  min-height: 24px;
  padding: 0px;
  line-height: 0;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transform: translate(-100%, 100%);
  transition: background-color var(--transition-dur-time), border var(--transition-dur-time);
}

.mobile-close-btn:hover,
.mobile-close-btn:focus {
  background-color: var(--active-states);
  border: 1px solid var(--active-states);
}

.icon_mobile_close {
  fill: var(--headings-text-color);
  transition: fill var(--transition-dur-time);
}

.mobile-close-btn:hover > .icon_mobile_close,
.mobile-close-btn:focus > .icon_mobile_close {
  fill: #ffffff;
}

.mobile-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-list-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
  transition: color var(--transition-dur-time);
}

.mobile-list-link:hover,
.mobile-list-link:focus {
  color: var(--active-states);
}

.mobile-connection-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-header-tel {
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
}

.mobile-header-email {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-dur-time);
}

.mobile-header-email:hover,
.mobile-header-email:focus {
  color: var(--active-states);
}

.mobile-social-list {
  display: flex;
  gap: 56px;
  margin-top: 48px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-time);
}

.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: var(--active-states);
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1156px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
    margin-right: auto;
  }
  .connection {
    display: block;
  }
}

.logo-link {
  margin-right: 120px;
}

.nav-mane {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlays-color);
  position: relative;
  transition: color var(--transition-dur-time);
}

.current-link::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -25px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--active-states);
  transition: opacity var(--transition-dur-time), color var(--transition-dur-time);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--active-states);
}

.header-contact {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color var(--transition-dur-time);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--active-states);
}

/* ? ================ DESKTOP ==================== */

@media screen and (min-width: 1200px) {
  .connection {
    display: flex;
    margin-left: auto;
  }

  .connection-list {
    display: flex;
  }

  .connection-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-contact {
    color: var(--main-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-time);
  }

  .header-contact:hover,
  .header-contact:focus {
    color: var(--active-states);
  }
}

/**================= HERO =======================*/
/* todo ============ MOBILE =====================*/
.hero-conteiner {
  padding: 112px 54px;
}
.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
}

.hero {
  background-color: var(--overlays-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/main_page/hero/hero_bg_mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/main_page/hero/hero_bg_2x.jpg);
  }
}

.hero-btn {
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  margin: 0px auto;

  line-height: 1.19;
  color: #ffffff;
  background-color: #4d5ae5;

  transition: background-color var(--transition-dur-time);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-states);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .hero {
    background-color: var(--overlays-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/main_page/hero/hero_bg_tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/main_page/hero/hero_bg_2x.jpg);
    }
  }
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px) {
  .hero-conteiner {
    padding: 112px 136px;
  }

  .hero-title {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .hero {
    background-color: var(--overlays-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/main_page/hero/hero_bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/main_page/hero/hero_bg_2x.jpg);
    }
  }
}

/* ? ================ DESKTOP ==================== */
@media screen and (min-width: 1200px) {
  .hero-conteiner {
    padding: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
  }
}

/* * =============== ADVANTAGES =====================*/
/* todo ============ MOBILE =========================*/
.advantages-conteiner {
  width: 100%;
}

.advantages-item:not(:last-child) {
  margin-bottom: 72px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media screen and (max-width: 1200px) {
  .box-icon {
    display: none;
  }

  .advantages {
    padding: 96px 16px;
  }
}
@media screen and (min-width: 480px) {
  .advantages-conteiner {
    width: 428px;
  }
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px) {
  .advantages-conteiner {
    width: 768px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-bottom: -72px;
  }

  .advantages-item {
    flex-basis: calc((100% - 2 * 24px) / 2);
    margin-left: var(--card-margin-horizontal);
    margin-bottom: 72px;
  }
}

/* ? ================ DESKTOP ==================== */
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: var(--section-padding-top-);
  }
  .advantages-conteiner {
    width: 1160px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -24px;
  }
  .advantages-item {
    flex-basis: calc((100% - 4 * 24px) / 4);
    margin-left: 24px;
    margin-bottom: 0px;
  }

  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    background-color: var(--button-bg-color);
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .advantages-icon {
    background-repeat: no-repeat;
    background-position: center;
  }

  .advantages-subtitle {
    margin-bottom: 8px;
  }
}
/**================= PRODUCTS =======================*/
/* todo ============ MOBILE =========================*/
@media screen and (max-width: 1199px) {
  .products {
    display: none;
  }
}

/* ? ================ DESKTOP ====================== */
.products {
  padding-top: var(--section-padding-top-);
  padding-bottom: var(--section-padding-bootom-);
}

.products-conteiner {
  width: 1160px;
}

.products-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}

.products-list {
  display: flex;
  margin-top: calc(-1 * var(--card-margin-horizontal));
  margin-left: calc(-1 * var(--card-margin-horizontal));
}

.products-item {
  margin-top: var(--card-margin-horizontal);
  margin-left: var(--card-margin-horizontal);
  flex-basis: calc(100% / 3 - var(--card-margin-horizontal));
}

/**================= OUR TEAM =======================*/
/* todo ============ MOBILE =========================*/
.team {
  background-color: var(--overlays-scdr-color);
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-text-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-list-item {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.card-thumb {
  margin-left: auto;
  margin-right: auto;
}
.team-card {
  display: block;
  padding: 32px 16px;
}

.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  gap: var(--card-margin-horizontal);
}

.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--transition-dur-time);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--active-states);
}

@media screen and (max-width: 480px) {
  .team-conteiner {
    max-width: 264px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px), and (max-width: 1199px) {
  .team-conteiner {
    width: 584px;
  }

  .team-list {
    margin-top: -64px;
    justify-content: center;
    gap: 24px;
  }

  .team-list-item {
    margin-top: 64px;
    flex-basis: calc((100% - 2 * 24px) / 2);
    background: #ffffff;
  }
}

/* ? ================ DESKTOP ====================== */

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-conteiner {
    width: 1160px;
  }
  .team-list {
    margin-top: 72px;
    justify-content: center;
    gap: 0px;
  }

  .team-list-item {
    margin-top: 0px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    background: #ffffff;
  }
}

/**================= CUSTOMERS ======================*/
/* todo ============ MOBILE =========================*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.customers-conteiner {
  width: 100%;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px 16px;
}

.customers-item {
  display: flex;
  flex-basis: calc((100% - 1 * 16px) / 2);
}

.customers-link {
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 40px;

  transition: border-color var(--transition-dur-time), color 1000ms;
}

.customers-icon {
  fill: currentColor;
  transition: color var(--transition-dur-time);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--active-states);
}

.customers-link:hover > .customers-icon,
.customers-link:focus > .customers-icon {
  color: var(--active-states);
}

@media screen and (min-width: 480px) {
  .customers-conteiner {
    width: 428px;
  }
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px) {
  .customers-conteiner {
    width: 584px;
  }
  .customers-list {
    gap: 24px;
      }

  .customers-item {
    width: 168px;
    flex-basis: calc((100% - 3 * 24px) / 3);
  }

  .customers-link {
    padding: 16px 32px;
  }
}

/* ? ================ DESKTOP ====================== */
@media screen and (min-width: 1200px) {
  .customers-conteiner {
    width: 1160px;
  }

  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
}

/**================= FOOTER =======================*/
/* todo ============ MOBILE =======================*/

.footer {
  background-color: var(--overlays-color);
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.footer-logo {
  text-align: center;
  width: 264px;
  margin: auto;
}

.accent-footer {
  color: var(--overlays-scdr-color);
}

.footer-logo-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--active-states);
}

.footer-text {
  margin-top: 16px;
  margin-bottom: 72px;
  text-align: left;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-name {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social {
  width: 100%;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

@media screen (max-width: 768px) {
  .footer-logo {
    max-width: 268px;
    text-align: center;
    margin: 0 auto;
  }
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 584px;
    gap: 24px;
  }

  .footer-logo {
    width: 264px;
    text-align: left;
    margin: 0;
  }

  .footer-text {
    margin-bottom: 0px;
  }

  .footer-social {
    width: 208px;
  }

  .footer-name {
    text-align: left;
  }
}

/* ? ================ DESKTOP ====================== */
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    width: 1160px;
    flex-wrap: nowrap;
    gap: 0px;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-social {
    margin-right: 80px;
  }
  
/**================= FOOTER FORM==================*/
/* todo ============ MOBILE =======================*/

.futer-form-paragraph {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.futer-form-wrap {
  position: relative;
}

.footer-input {
  width: 100%;
  display: block;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: #2e2f42;
  color: #ffffff;
  margin-bottom: 16px;

  padding: 8px 0px 8px 16px;
  margin-right: 24px;
  outline: none;

  border: 1px solid #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input:hover + .footer-label,
.footer-input:not(:placeholder-shown) + .footer-label {
  transform: translate(50%, -33px);
}

.footer-label {
  position: absolute;
  top: 20%;
  transform: translateX(50%);

  font-weight: 400;
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: transform var(--transition-dur-time);
}

.footer-btn {
  margin: 0 auto;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border-radius: 4px;
  border-color: #4d5ae5;

  transition: background-color var(--transition-dur-time);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--active-states);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 768px) {
  .futer-form-paragraph {
    text-align: left;
  }

  .footer-input {
    width: 264px;
  }

  .futer-form-wrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-label {
    top: 35%;
  }
}

/**================= MODAL WINDOW ====================*/
/* todo ============ MOBILE ======================*/
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 500;
  width: 100vw;
  height: 100vh;

  background-color: rgba(46, 47, 66, 0.4);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity var(--transition-dur-time), visibility var(--transition-dur-time);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 72px 16px 24px 16px;
  max-width: 392px;
  max-height: 584px;

  width: 100%;
  height: 100%;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(100%);
  transition: transform var(--transition-dur-time);
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0%);
}

.modal-button-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  min-width: 24px;
  min-height: 24px;
  padding: 0px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transform: translate(-100%, 100%);
  transition: background-color var(--transition-dur-time), border var(--transition-dur-time);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: var(--active-states);
  border: 1px solid var(--active-states);
}

.modal-button-icon {
  fill: var(--headings-text-color);
  transition: fill var(--transition-dur-time);
}

.modal-button-close:hover > .modal-button-icon,
.modal-button-close:focus > .modal-button-icon {
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal {
    overflow: scroll;
  }
}

/* ! ================ TABLET ==================== */
@media screen and (min-width: 767px) {
  .modal {
    max-width: 408px;
    max-height: 584px;
    width: 100%;
    height: 100%;
    padding: 72px 25px 24px 23px;
  }
}

/* ? ================ DESKTOP ==================== */
@media screen and (min-width: 1200px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}

/**================= MODAL FORM ==================*/
/* todo ============ MOBILE ======================*/
.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.form-lable {
  display: block;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition-dur-time);
}

.form-input-wrap {
  margin-top: 4px;
  position: relative;
}

.form-icon {
  position: absolute;
  display: flex;
  fill: var(--headings-text-color);
  left: 0;
  top: 0;
  margin-left: 16px;
  margin-top: 8px;
  transition: fill var(--transition-dur-time);
}

.form-input:focus {
  border-color: #4d5ae5;
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-comment {
  display: block;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: none;
  width: 100%;
  min-height: 120px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-chek-label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
  margin-bottom: 24px;
}

.form-check {
  display: block;
  appearance: none;
}

.form-check-cell {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  outline: none;
  transition: background-color var(--transition-dur-time), border-color var(--transition-dur-time);
}

.label.form-check-label {
  width: 100%;
  max-width: 300px; /* Пример ширины */
  word-break: break-all;
}

.form-check:checked + .form-check-cell {
  background-color: var(--active-states);
  border-color: var(--active-states);
}

.form-check:focus + .form-check-cell {
  border-color: var(--active-states);
}

.form-check:checked + .form-check-cell .form-check-mark {
  opacity: 1;
}

.form-check-mark {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity var(--transition-dur-time);
}

.form-chek-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  /* line-height: 1.17px; */
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: #4d5ae5;
}

.form-btn {
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  margin: 0px auto;

  line-height: 1.5;
  color: #ffffff;
  background-color: #4d5ae5;

  transition: background-color var(--transition-dur-time);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--active-states);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*?================= PAGE PORTFOLIO ==================*/

/**================= OUR WORK ========================*/
.portfolio-mane {
  padding-top: 96px;
  padding-bottom: var(--section-padding-bootom-);
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
  margin-bottom: 72px;
}

.btn-portfolio {
  padding: 12px 24px;
  line-height: 1.5;
  color: #4d5ae5;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background-color: var(--button-bg-color);

  transition: background-color var(--transition-dur-time), color var(--transition-dur-time),
    box-shadow var(--transition-dur-time), border-color var(--transition-dur-time);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--active-states);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--active-states);
}

/**================= NET ========================*/
.examples-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-margin-vertical));
  margin-left: calc(-1 * var(--card-margin-horizontal));
}

.examples-item {
  margin-top: 48px;
  margin-left: var(--card-margin-horizontal);
  flex-basis: calc(100% / 3 - var(--card-margin-horizontal));
}

.examples-link {
  display: block;
  margin-right: 0px;
}

.examples-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.examples-overlay {
  position: absolute;
  transform: translate(0, 100%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  background-color: #4d5ae5;
  transition: transform var(--transition-dur-time);
}

.examples-thumb {
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 32px;
  border: 1px solid var(--accent-color);
  border-top: none;

  transition: box-shadow var(--transition-dur-time);
}

.examples-link:hover .examples-thumb,
.examples-link:focus .examples-thumb {
  border: 1px solid #f4f4fd;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
  transform: translate(0, 0);
}

.thumb-title {
  margin-bottom: 8px;
}